*.aux
*.cabal
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
.HTF/
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
/bin
/build/
/db.sqlite
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
