.cabal-sandbox/
.hpc
.hsenv
.HTF/
.stack-work/
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
/bin
/build/
/db.sqlite*
/lib
a.out
cabal-dev
cabal.project.local
cabal.sandbox.config
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
dist
dist-*
mai-dz.cabal
